
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div id="featured" class="featured_services">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="Web Design Layout" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Web Design Layout</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">We Will Create The Best For You</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.Nulla tempus lectus non arcu commodo, volutpat varius sem hendrerit.</p>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="Business Web Content" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Business Web Content</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">You Will Love</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.Nulla tempus lectus non arcu commodo, volutpat varius sem hendrerit.</p>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="Wordpress Theme" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Wordpress Theme</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">We Do Multi Purpose WP</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.Nulla tempus lectus non arcu commodo, volutpat varius sem hendrerit.</p>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="IOS APPS Store" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">IOS APPS Store</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">Try It Free Now!</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.Nulla tempus lectus non arcu commodo, volutpat varius sem hendrerit.</p>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="Great Support Center" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Great Support Center</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">We HardWork 24/24</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.Nulla tempus lectus non arcu commodo, volutpat varius sem hendrerit.</p>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="Digital Marketing" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Digital Marketing</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">Best Way For You</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.Nulla tempus lectus non arcu commodo, volutpat varius sem hendrerit.</p>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="featured_services__title">
        <hgroup>
          <h3 class="title">Featured Services</h3>
          <h4 class="subtitle">Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosquad litora torquent per conubia nostra, per inceptos himenaeos</h4>
        </hgroup>
      </div>
    </div>
  </div>
  <div class="featured_services__services">
    <ul>
      <li>
        <article class="media">
          <div class="media-top"><a class="media-icon"><span class="icon-settings"></span></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Graphic Design</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading"></h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed.</p>
          </div>
        </article>
      </li>
      <li>
        <article class="media">
          <div class="media-top"><a class="media-icon"><span class="icon-settings"></span></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Email Marketing</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading"></h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed.</p>
          </div>
        </article>
      </li>
      <li>
        <article class="media">
          <div class="media-top"><a class="media-icon"><span class="icon-settings"></span></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Graphic Design</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading"></h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed.</p>
          </div>
        </article>
      </li>
      <li>
        <article class="media">
          <div class="media-top"><a class="media-icon"><span class="icon-settings"></span></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">Email Marketing</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading"></h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed.</p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>