
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="works_page">
  <div class="works_page__title">
    <hgroup>
      <h3 class="title">How It Works?</h3>
      <h4 class="subtitle">Donec suscipit, diam condimentum viverra ornare, turpis ipsum molestie quam. Non fermentum libero tortor eu magna. Pellentesque at augue ac ante vehicula adipiscing eget a ligula.</h4>
    </hgroup>
  </div>
  <iframe src="https://player.vimeo.com/video/16918360" width="840" height="460" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  <p><a href="https://vimeo.com/16918360">Linkin Park - Waiting For The End</a> from<a href="https://vimeo.com/itsknowone">Gabriel | ItsKnowOne | Perez</a> on<a href="https://vimeo.com">Vimeo</a>.</p>
</div>