
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="pricing-tables">
  <div class="row">
    <div class="pricing-tables__title">
      <hgroup>
        <h3 class="title">Pricing Tables</h3>
        <h4 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a aliquet orci. Ut interdum mauris sem, non aliquet felis interdum sit amet.</h4>
      </hgroup>
    </div>
  </div>
  <div class="row">
    <div class="flex-tables">
      <div class="flex-tables__column first">
        <ul>
          <li class="first">Pricing Plans</li>
          <li class="odd">Amount of space</li>
          <li>Bandwith per month</li>
          <li class="odd">Free domain names</li>
          <li>phpMyAdmin</li>
          <li class="odd">24h Support</li>
          <li>Free Update</li>
          <li class="last odd"><a href="#" class="btn btn-default btn-customize">Order Now</a>
          </li>
        </ul>
      </div>
      <div class="flex-tables__column">
        <ul>
          <li>Standard</li>
          <li class="price">
            <hgroup>
              <h3 class="title">$199</h3>
              <h4 class="subtitle">/month</h4>
            </hgroup>
          </li>
          <li class="highlight">300 Gb</li>
          <li>500 Gb</li>
          <li class="highlight">2 Accounts</li>
          <li>2 Free</li>
          <li class="highlight"><span class="icon-settings"></span></li>
          <li><span class="icon-settings"></span></li>
          <li><a href="#" class="btn btn-default btn-customize">Order Now</a>
          </li>
        </ul>
      </div>
      <div class="flex-tables__column">
        <ul>
          <li>Ultimate</li>
          <li class="price">
            <hgroup>
              <h3 class="title">$599</h3>
              <h4 class="subtitle">/month</h4>
            </hgroup>
          </li>
          <li class="highlight">3000 Gb</li>
          <li>1500 Gb</li>
          <li class="highlight">50 Accounts</li>
          <li>50 Free</li>
          <li class="highlight"><span class="icon-settings"></span></li>
          <li><span class="icon-settings"></span></li>
          <li><a href="#" class="btn btn-default btn-customize">Order Now</a>
          </li>
        </ul>
      </div>
      <div class="flex-tables__column">
        <ul>
          <li>Diamond</li>
          <li class="price">
            <hgroup>
              <h3 class="title">$399</h3>
              <h4 class="subtitle">/month</h4>
            </hgroup>
          </li>
          <li class="highlight">2000 Gb</li>
          <li>1000 Gb</li>
          <li class="highlight">30 Accounts</li>
          <li>20 Free</li>
          <li class="highlight"><span class="icon-settings"></span></li>
          <li><span class="icon-settings"></span></li>
          <li><a href="#" class="btn btn-default btn-customize">Order Now</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pricing-tables__blockquote">
      <blockquote>
        <hgroup>
          <h3 class="title">TheFox Is Clean and unique psd template</h3>
          <h4 class="subtitle">Congratulations for this great template!! Its simply awesome! Clean and modern! Created a Joomla template for my website based on this psd template and i wanted to post it so you could see your project in action.</h4>
        </hgroup><a href="javascript:void(0);" class="btn btn-default btn-customize purchase">Purchase Now</a>
      </blockquote>
    </div>
  </div>
</div>