
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <hgroup>
          <h3 class="title">Why Choose TheFox</h3>
          <h4 class="subtitle"></h4>
        </hgroup>
        <div id="accordion" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="#collapse1" data-toggle="collapse" data-parent="#accordion">Our Solution</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left"><img src="images/avatar.png" style="width:80px" class="media-object"/></div>
                  <div class="media-body">
                    <p>Catullus 5 is a passionate ode to Lesbia and one of the most famous poems by Catullus. The poem encourages lovers to scorn the snide comments of others, and to live only for each other, since life is too brief and death brings on a night of perpetual sleep. Over the centuries, this poem has been translated and imitated many times; its sentiments seem timeless.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="#collapse2" data-toggle="collapse" data-parent="#accordion">Our Values</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left"><img src="images/avatar2.png" style="width:80px" class="media-object"/></div>
                  <div class="media-body">
                    <p>Catullus 5 is a passionate ode to Lesbia and one of the most famous poems by Catullus. The poem encourages lovers to scorn the snide comments of others, and to live only for each other, since life is too brief and death brings on a night of perpetual sleep. Over the centuries, this poem has been translated and imitated many times; its sentiments seem timeless.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="#collapse3" data-toggle="collapse" data-parent="#accordion">Our Technology</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="media">
                  <div class="media-left"><img src="images/avatar3.png" style="width:80px" class="media-object"/></div>
                  <div class="media-body">
                    <p>Catullus 5 is a passionate ode to Lesbia and one of the most famous poems by Catullus. The poem encourages lovers to scorn the snide comments of others, and to live only for each other, since life is too brief and death brings on a night of perpetual sleep. Over the centuries, this poem has been translated and imitated many times; its sentiments seem timeless.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <hgroup>
          <h3 class="title">Our Best Services</h3>
          <h4 class="subtitle"></h4>
        </hgroup>
        <div class="list-nav-tabs">
          <div class="nav nav-tabs">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#1" data-toggle="tab">Online Service</a></li>
              <li><a href="#2" data-toggle="tab">Your Service Title</a></li>
              <li><a href="#3" data-toggle="tab">Photography</a></li>
              <li><a href="#4" data-toggle="tab">Web Design</a></li>
            </ul>
            <div class="tab-content">
              <div id="1" class="tab-pane active">
                <div class="media">
                  <div class="media-left"><img src="images/avatar.png" style="width:80px" class="media-object"/></div>
                  <div class="media-body">
                    <p>Catullus 5 is a passionate ode to Lesbia and one of the most famous poems by Catullus. The poem encourages lovers to scorn the snide comments of others, and to live only for each other, since life is too brief and death brings on a night of perpetual sleep. Over the centuries, this poem has been translated and imitated many times; its sentiments seem timeless.</p>
                  </div>
                </div>
              </div>
              <div id="2" class="tab-pane">
                <div class="media">
                  <div class="media-left"><img src="images/avatar2.png" style="width:80px" class="media-object"/></div>
                  <div class="media-body">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                  </div>
                </div>
              </div>
              <div id="3" class="tab-pane">
                <div class="media">
                  <div class="media-left"><img src="images/avatar3.png" style="width:80px" class="media-object"/></div>
                  <div class="media-body">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text</p>
                  </div>
                </div>
              </div>
              <div id="4" class="tab-pane">
                <div class="media">
                  <div class="media-left"><img src="images/avatar4.png" style="width:80px" class="media-object"/></div>
                  <div class="media-body">
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from &quot;de Finibus Bonorum et Malorum&quot; by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>