
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="features">
  <div class="row">
    <div class="features__title">
      <div class="section__title-container">
        <h3 class="section__title">core features of thefox mag</h3>
        <h4 class="section__subtitle">Ligula non tincidunt pulvinar augue est</h4><span class="section__icon icon-lifebuoy"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <article class="media desktop">
        <div class="media-right"><a class="media-icon"><span class="icon-computer"></span></a>
        </div>
        <div class="media-body media-body-right"><a href="javascript:void(0);">
            <h4 class="media-heading">Responsive, Fluid, Retina-Ready</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">Sub Title Here</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <article class="media tool">
        <div class="media-left"><a class="media-icon"><span class="icon-wrench"></span></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">Customize Everything</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">Sub Title Here</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <article class="media lightbulb">
        <div class="media-right"><a class="media-icon"><span class="icon-lightbulb"></span></a>
        </div>
        <div class="media-body media-body-right"><a href="javascript:void(0);">
            <h4 class="media-heading">Create any layout with visual layout builder</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">Sub Title Here</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <article class="media lifesaver">
        <div class="media-left"><a class="media-icon"><span class="icon-lifesaver"></span></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">Multiple Header Options, Fancy Headers.</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">Sub Title Here</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <article class="media global">
        <div class="media-right"><a class="media-icon"><span class="icon-global"></span></a>
        </div>
        <div class="media-body media-body-right"><a href="javascript:void(0);">
            <h4 class="media-heading">Translation And Multilingual</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">Sub Title Here</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <article class="media equalizer">
        <div class="media-left"><a class="media-icon"><span class="icon-equalizer"></span></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">Woocommerce Support</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">Sub Title Here</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <article class="media bookmark">
        <div class="media-right"><a class="media-icon"><span class="icon-bookmark"></span></a>
        </div>
        <div class="media-body media-body-right"><a href="javascript:void(0);">
            <h4 class="media-heading">Supports Wordpress Post Formats</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">Sub Title Here</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <article class="media documents">
        <div class="media-left"><a class="media-icon"><span class="icon-documents"></span></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">Plenty Of Blog, Portfolio &amp; Galleries</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">Sub Title Here</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
  </div>
</div>