
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="latest-new">
  <div class="container">
    <div class="latest-new__title">Lastest news</div>
    <div class="latest-new__article-container row">
      <div class="col-md-4 latest-new__article">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">lorem | lorem | lorem</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales scelerisque lacus sed rutrum. In eleifend dolor turpis</p>
          </div>
        </article>
      </div>
      <div class="col-md-4 latest-new__article">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">lorem | lorem | lorem</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales scelerisque lacus sed rutrum. In eleifend dolor turpis</p>
          </div>
        </article>
      </div>
      <div class="col-md-4 latest-new__article">
        <article class="media">
          <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">lorem | lorem | lorem</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales scelerisque lacus sed rutrum. In eleifend dolor turpis</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>