
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="products">
  <div class="row">
    <div class="products__title">
      <div class="section__title-container">
        <h3 class="section__title">Special Products</h3>
        <h4 class="section__subtitle">Ligula non tincidunt pulvinar, augue est sagittis leo</h4><span class="section__icon icon-lifebuoy"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <article class="media">
        <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
            <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">and category</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.Nulla tempus lectus non arcu commodo, volutpat varius sem hendrerit.Proin eget consequat quam, vitae maximus nunc.Proin vel ultrices metus.Curabitur at mauris bibendum, commodo ex in, imperdiet enim.Nulla scelerisque nunc odio, sit amet vestibulum libero fringilla nec.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <article class="media">
        <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
            <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">and category</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
    <div class="col-md-6">
      <article class="media">
        <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
            <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">and category</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <article class="media">
        <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
            <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">and category</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="media">
        <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
            <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">and category</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
    <div class="col-md-4">
      <article class="media">
        <div class="media-top"><a><img src="images/image_gray.jpg" alt="This is a picture" class="media-object"/>
            <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
        </div>
        <div class="media-body"><a href="javascript:void(0);">
            <h4 class="media-heading">This is your work title</h4></a><a href="javascript:void(0);">
            <h5 class="media-subheading">and category</h5></a>
          <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
        </div>
      </article>
    </div>
  </div>
</div>