
<div class="purchase-tryit container-fluid">
  <div class="container">
    <h3 class="purchase-tryit__title">we are alway working hard to create the base products</h3>
    <h4 class="purchase-tryit__sub-title">you will happy when buying out products, don't forget to rate it 5 stars, it's really helpful for us</h4>
    <div class="purchase-tryit__action-container">
      <button class="purchase-btn">purchase now</button>
      <button class="tryit-btn">try it now</button>
    </div>
  </div>
</div>