
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="quotes__container container-fluid">
  <div class="quotes__content-container">
    <p class="quotes__content">Lorem ipsum dolor sit amet. Ipsum sed porro debitis commodi eos sit nulla ex recusandae qui aspernatur deserunt odio iste ducimus, perferendis nobis, at soluta rerum odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sed porro debitis commodi eos sit nulla ex recusandae qui aspernatur deserunt odio iste ducimus, perferendis nobis, at soluta rerum odit.</p>
    <p class="quotes__author">mass themes design</p>
    <p class="quotes__position">art director</p>
  </div>
</div>