
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="slideshow">
  <div class="row">
    <div class="col-md-6">
      <h3 class="slideshow__header">Slideshow Post</h3>
      <div class="slideshow__post"><img src="images/image_gray.jpg" alt="Picture slideshow"/>
        <div class="slideshow__footer">
          <div class="slideshow__footer-title">
            <h4>This is your blog title lorem ipsum</h4>
            <ul>
              <li>27th July 2016</li>
              <li>WordPress</li>
              <li>Admin</li>
            </ul>
          </div>
          <div class="slideshow__footer-button"><a href="javascript:void(0);" class="btn btn-default btn-customize">&lt;</a><a href="javascript:void(0);" class="btn btn-default btn-customize">&gt;</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="slideshow__header">Post with small image</h3>
      <div class="slideshow__post-image">
        <article class="media">
          <div class="media-left"><a><img src="images/image_gray.jpg" alt="This is your image" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">This is Your Blog Title Here</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">27th July 2016 | WORDPRESS | ADMIN</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
          </div>
        </article>
        <article class="media">
          <div class="media-left"><a><img src="images/image_gray.jpg" alt="This is your image" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">This is Your Blog Title Here</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">27th July 2016 | WORDPRESS | ADMIN</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
          </div>
        </article>
        <article class="media">
          <div class="media-left"><a><img src="images/image_gray.jpg" alt="This is your image" class="media-object"/>
              <div class="mask"><a href="#" title="Link" class="info link">Link</a><a href="#" title="Full Image" class="info full">Full Image</a></div></a>
          </div>
          <div class="media-body"><a href="javascript:void(0);">
              <h4 class="media-heading">This is Your Blog Title Here</h4></a><a href="javascript:void(0);">
              <h5 class="media-subheading">27th July 2016 | WORDPRESS | ADMIN</h5></a>
            <p class="media-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>