
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="socials">
  <div class="socials__title">
    <div class="section__title-container">
      <h3 class="section__title">TheFox's Social</h3>
      <h4 class="section__subtitle">Connect with us everytime</h4><span class="section__icon icon-lifebuoy"></span>
    </div>
  </div>
  <div class="social_buttons"><a href="https://facebook.com" class="social-button facebook"><span class="icon-instagram"></span></a><a href="https://twitter.com" class="social-button google"><span class="icon-google"></span></a><a href="https://pinterest.com" class="social-button pinterest"><span class="icon-pinterest"></span></a><a href="https://plus.google.com" class="social-button google"><span class="icon-google"></span></a><a href="https://facebook.com" class="social-button facebook"><span class="icon-instagram"></span></a><a href="https://facebook.com" class="social-button facebook"><span class="icon-pinterest"></span></a>
  </div>
</div>