
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="special-features">
  <div class="container">
    <div class="row special-features__item">
      <div class="col-md-4">
        <div class="special-features__header"><span class="icon-card"></span>
          <h3 class="title">Creative Team Profile</h3>
        </div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
      </div>
      <div class="col-md-4">
        <div class="special-features__header"><span class="icon-box"></span>
          <h3 class="title">Amazing Portfolio</h3>
        </div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
      </div>
      <div class="col-md-4">
        <div class="special-features__header"><span class="icon-camera"></span>
          <h3 class="title">Great Blog Design</h3>
        </div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="special-features__header"><span class="icon-zoom-in"></span>
          <h3 class="title">Awesome Support Services</h3>
        </div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
      </div>
      <div class="col-md-4">
        <div class="special-features__header"><span class="icon-settings"></span>
          <h3 class="title">Easy To Customize</h3>
        </div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
      </div>
      <div class="col-md-4">
        <div class="special-features__header"><span class="icon-talk"></span>
          <h3 class="title">Full ShortCodes Ready</h3>
        </div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam sodales scelerisque lacus sed rutrum.In eleifend dolor turpis, vel tincidunt magna eleifend eu.In eleifend dolor turpis, vel tincidunt magna eleifend eu.</p>
      </div>
    </div>
  </div>
</div>