
<!-- mixin footer_article use for article at footer that display icon when hover.-->
<div class="portfolio">
  <div class="row">
    <div class="article">
      <div class="portfolio_rating">
        <div class="article_rating">
          <hgroup>
            <h3 class="title">Awesome Work Title</h3>
            <h4 class="subtitle">Concept, Technology</h4>
          </hgroup>
          <div class="article_rating__date-rating"><span class="date">24 May, 2014</span>
            <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
            </div>
          </div>
          <div class="article_rating__content">
            <p>Phasellus lobortis lorem ac ante gravida faucibus. Sed vel eros risus. Nunc neque nulla, pellentesque sit amet magna sed, convallis placerat leo. Pellentesque at rhoncus turpis. Proin venenatis facilisis lacus ut auctor. Sed vestibulum lacus in magna iaculis, ac congue elit accumsan. Duis eget tellus vitae elit luctus elementum quis quis metus. Duis in libero ac elit facilisis ultricies nec sit amet magna. Vestibulum congue posuere metus, id vestibulum diam bibendum et</p>
            <div class="article_rating__btn"><a href="#" class="btn btn-default btn-customize launch">Launch Project</a><a href="#" class="btn btn-default btn-customize viewmore">View More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio_picture">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="article">
      <div class="portfolio_rating">
        <div class="article_rating">
          <hgroup>
            <h3 class="title">Awesome Work Title</h3>
            <h4 class="subtitle">Concept, Technology</h4>
          </hgroup>
          <div class="article_rating__date-rating"><span class="date">24 May, 2014</span>
            <div class="rating"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
            </div>
          </div>
          <div class="article_rating__content">
            <p>Phasellus lobortis lorem ac ante gravida faucibus. Sed vel eros risus. Nunc neque nulla, pellentesque sit amet magna sed, convallis placerat leo. Pellentesque at rhoncus turpis. Proin venenatis facilisis lacus ut auctor. Sed vestibulum lacus in magna iaculis, ac congue elit accumsan. Duis eget tellus vitae elit luctus elementum quis quis metus. Duis in libero ac elit facilisis ultricies nec sit amet magna. Vestibulum congue posuere metus, id vestibulum diam bibendum et</p>
            <div class="article_rating__btn"><a href="#" class="btn btn-default btn-customize launch">Launch Project</a><a href="#" class="btn btn-default btn-customize viewmore">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>